@inherits ButtonComponentModel

@RenderElement()


@code {
    private RenderFragment RenderElement() => __builder =>
    {
        if (!IsVisible) return;

        <button class="@GetCssClass()"
                disabled="@IsDisabled"
                id="@GetElementId()"
                @onclick="@OnClick"
                style="@GetCssStyle()"
                type="button">
            @Text
        </button>
        ;
    };
}
