@typeparam T
@inherits InputComponentModel<T>


@if (WithLabel)
{
    <div class="form-floating">

        @RenderElement()

        <LabelComponent For="@GetElementId()" Value="@LabelValue"></LabelComponent>
    </div>
}
else
{
    @RenderElement()
}

@code {

    private RenderFragment RenderElement() => __builder =>
    {
        if (!IsVisible) return;

        <input class="@GetElementCssClass()"
               disabled="@IsDisabled"
               id="@GetElementId()"
               @onchange="@OnChange"
               placeholder="@Placeholder"
               readonly="@IsReadonly"
               style="@GetElementCssStyle()"
               type="@TypeName"
               value="@(typeof(T) != typeof(bool) ? Value : null)" />
        ;
    };
}