@inherits LabelComponentModel

@RenderElement()

@code {

    private RenderFragment RenderElement() => __builder =>
    {
        if (!IsVisible) return;

        <label class="@GetCssClass()"
               for="@For"
               id="@GetElementId()"
               style="@GetCssStyle()">
            @Value
        </label>
        ;
    };
}
