@inherits LabelComponentModel

@RenderElement()

@code {

    private RenderFragment RenderElement() => __builder =>
    {
        if (!IsVisible) return;

        <label class="@GetElementCssClass()"
               for="@For"
               id="@GetElementId()"
               style="@GetElementCssStyle()">
            @Value
        </label>
        ;
    };
}
