@inherits TextAreaComponentModel


@if (WithLabel)
{
    <div class="form-floating">

        @RenderElement()

        <LabelComponent For="@GetElementId()" Value="@LabelValue"></LabelComponent>
    </div>
}
else
{
    @RenderElement()
}


@code {

    private RenderFragment RenderElement() => __builder =>
    {
        if (!IsVisible) return;

        <textarea class="@GetElementCssClass()"
                  disabled="@IsDisabled"
                  readonly="@IsReadonly"
                  id="@GetElementId()"
                  @onchange="OnChange"
                  placeholder="@Placeholder"
                  style="@GetElementCssStyle()"
                  value="@Value">
                </textarea>
        ;
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
